/*▄████████  ▄██████▄  ███▄▄▄▄       ███        ▄████████  ▄█  ███▄▄▄▄      ▄████████    ▄████████ 
███    ███ ███    ███ ███▀▀▀██▄ ▀█████████▄   ███    ███ ███  ███▀▀▀██▄   ███    ███   ███    ███ 
███    █▀  ███    ███ ███   ███    ▀███▀▀██   ███    ███ ███▌ ███   ███   ███    █▀    ███    ███ 
███        ███    ███ ███   ███     ███   ▀   ███    ███ ███▌ ███   ███  ▄███▄▄▄      ▄███▄▄▄▄██▀ 
███        ███    ███ ███   ███     ███     ▀███████████ ███▌ ███   ███ ▀▀███▀▀▀     ▀▀███▀▀▀▀▀   
███    █▄  ███    ███ ███   ███     ███       ███    ███ ███  ███   ███   ███    █▄  ▀███████████ 
███    ███ ███    ███ ███   ███     ███       ███    ███ ███  ███   ███   ███    ███   ███    ███ 
████████▀   ▀██████▀   ▀█   █▀     ▄████▀     ███    █▀  █▀    ▀█   █▀    ██████████   ███    ███ 
                                                                                       ███    ███  */

.container {
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

@media screen and (min-width: 1400px) {

    .header .container,
    .footer .container {
        max-width: 1400px;
    }
}

/* ▄█    █▄       ▄████████    ▄████████ ████████▄     ▄████████    ▄████████ 
  ███    ███     ███    ███   ███    ███ ███   ▀███   ███    ███   ███    ███ 
  ███    ███     ███    █▀    ███    ███ ███    ███   ███    █▀    ███    ███ 
 ▄███▄▄▄▄███▄▄  ▄███▄▄▄       ███    ███ ███    ███  ▄███▄▄▄      ▄███▄▄▄▄██▀ 
▀▀███▀▀▀▀███▀  ▀▀███▀▀▀     ▀███████████ ███    ███ ▀▀███▀▀▀     ▀▀███▀▀▀▀▀   
  ███    ███     ███    █▄    ███    ███ ███    ███   ███    █▄  ▀███████████ 
  ███    ███     ███    ███   ███    ███ ███   ▄███   ███    ███   ███    ███ 
  ███    █▀      ██████████   ███    █▀  ████████▀    ██████████   ███    ███ 
                                                                   ███    ███  */

.header {
    width: 100%;
    height: 80px;
    background-color: #2B4D6B;
    font-family: Aldrich;
    font-style: normal;
}

.logo {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo-text {
    font-weight: bold;
    font-size: 2em;
    color: #fafafa;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 50%;
}

.btn-nav {
    color: #fafafa;
}

.telefones {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 70%;
    border: 1px solid #fafafa;
    padding: 2px 10px;
}

.btn-tel {
    color: #fafafa;
}

/* Responsivo Header */

@media screen and (min-width: 1200px) {
    .logo-tex {
        font-size: 2.5em;
    }

    .btn-nav {
        font-size: 1.5em;
    }

    .btn-tel {
        font-size: 1em;
    }
}

@media screen and (max-width: 992px) {
    .logo-tex {
        font-size: 2.25em;
    }

    .btn-nav {
        font-size: 1.25em;
    }

    .btn-tel {
        font-size: .75em;
    }
}

@media screen and (max-width: 768px) {
    .logo-tex {
        font-size: 2em;
    }

    .btn-nav {
        font-size: 1em;
    }

    .btn-tel {
        font-size: .5em;
    }

    .header {
        height: 50px;
    }

    .telefones {
        padding: 1px 5px;
        max-height: 60%;
    }
}

@media screen and (max-width: 576px) {
    .logo-tex {
        font-size: 1.75em;
    }

    .btn-nav {
        font-size: .75em;
    }

    .btn-tel {
        font-size: .25em;
    }

    .telefones {
        padding: 1px 5px;
        max-height: 60%;
    }
}

@media (max-width: 575.98px) {
    .logo-tex {
        font-size: 1.5em;
    }

    .btn-nav {
        font-size: .5em;
    }

    .btn-tel {
        font-size: .25em;
    }

    .telefones {
        padding: 1px 5px;
        max-height: 60%;
    }
}

/* 
▄████████  ▄██████▄  ███▄▄▄▄       ███        ▄████████     ███      ▄██████▄  
███    ███ ███    ███ ███▀▀▀██▄ ▀█████████▄   ███    ███ ▀█████████▄ ███    ███ 
███    █▀  ███    ███ ███   ███    ▀███▀▀██   ███    ███    ▀███▀▀██ ███    ███ 
███        ███    ███ ███   ███     ███   ▀   ███    ███     ███   ▀ ███    ███ 
███        ███    ███ ███   ███     ███     ▀███████████     ███     ███    ███ 
███    █▄  ███    ███ ███   ███     ███       ███    ███     ███     ███    ███ 
███    ███ ███    ███ ███   ███     ███       ███    ███     ███     ███    ███ 
████████▀   ▀██████▀   ▀█   █▀     ▄████▀     ███    █▀     ▄████▀    ▀██████▀   */


.contato {
    width: 100%;
    font-family: Aldrich;
    color: #2B4D6B;
}

.title-contato {
    font-size: 3em;
}

.contato .container {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
}

.div-nome,
.div-email,
.div-assunto,
.div-mensagem {
    width: 100%;
}

.input {
    width: 100%;
    padding: 5px 10px;
}


/* ▄████████  ▄██████▄   ▄██████▄      ███        ▄████████    ▄████████ 
   ███    ███ ███    ███ ███    ███ ▀█████████▄   ███    ███   ███    ███ 
   ███    █▀  ███    ███ ███    ███    ▀███▀▀██   ███    █▀    ███    ███ 
  ▄███▄▄▄     ███    ███ ███    ███     ███   ▀  ▄███▄▄▄      ▄███▄▄▄▄██▀ 
 ▀▀███▀▀▀     ███    ███ ███    ███     ███     ▀▀███▀▀▀     ▀▀███▀▀▀▀▀   
   ███        ███    ███ ███    ███     ███       ███    █▄  ▀███████████ 
   ███        ███    ███ ███    ███     ███       ███    ███   ███    ███ 
   ███         ▀██████▀   ▀██████▀     ▄████▀     ██████████   ███    ███ 
   ███                                                                ███  */

.footer {
    width: 100%;
    padding: 0px;
    background-color: #333333;
    font-family: PT Serif;
    font-style: normal;
    color: #fafafa;
}

.footer .container {
    flex-direction: column;
}

.conteudo-footer {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info-footer {
    display: flex;
    flex-direction: row;
}

.map-footer {
    max-width: 30%;
    min-width: 25%;
    height: 100%;
}

.text-info {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo-footer {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.direitos-autorais {
    width: 100%;
    height: 10%;
    background-color: #3d3d3d;
    text-align: center;
}

/* Responsivo Footer */

@media (min-width: 1200px) {
    .footer {
        font-size: 1.25em;
    }
}

@media (max-width: 992px) {
    .footer {
        font-size: .8em;
    }
}

@media (max-width: 768px) {
    .conteudo-footer {
        flex-direction: column;
    }

    .info-footer {
        justify-content: center;
    }

    .footer {
        font-size: 1em;
    }
}

@media (max-width: 576px) {
    .footer {
        font-size: .75em;
    }
}